<xen:title>{xen:phrase sv_change_date_for_post, 'number={xen:calc '{$post.position} + 1'}'}</xen:title>
<form action="{xen:link 'inline-mod/post/datechange'}" method="post" class="xenForm formOverlay">
    <fieldset>
        <dl class="ctrlUnit">
            <dt><label>{xen:phrase sv_new_date}:</label></dt>
            <dd><input type="text" name="datechange" value="{$post.formatted_date}" class="textCtrl" /></dd>
        </dl>
        <dl class="ctrlUnit submitUnit">
            <dt></dt>
            <dd><input type="submit" value="{xen:phrase sv_change_post_date}" class="button primary" accesskey="s" /></dd>
        </dl>
    </fieldset>

    <xen:foreach loop="$postIds" value="$postId">
        <input type="hidden" name="posts[]" value="{$postId}" />
    </xen:foreach>

    <input type="hidden" name="_xfConfirm" value="1" />
    <input type="hidden" name="redirect" value="{$redirect}" />
    <input type="hidden" name="_xfToken" value="{$visitor.csrf_token_page}" />
</form>